@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.header_wrapper {
  width: 100%;
  height: 68px;
  /* position: -webkit-sticky;
  position: sticky; */
  position: relative;
  position: fixed;
  left: 0rem;
  top: 0rem;
  z-index: -1;
  display: inline-block;
  background: #257cff;
  text-align: center;
}

.header_nav {
  float: right;
}

.header_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_nav ul > li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  float: left;
}

.header_nav ul > li > a {
  display: inline-block;
  text-align: center;
  margin: 0.25rem;
  /*padding: 0.5rem 1rem;*/
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: teal;
  margin-top: 25px;
}

.header_icon {
  display: block;
}
.header_icon > svg {
  margin: 19px;
  position: absolute;
}
.header_title {
  display: inline-block;
  margin-left: 76px;
  position: absolute;
  left: 0;
}
.header_title > svg {
  margin-bottom: 24.26px;
  margin-top: 24px;
}
.header_search {
  width: 460px;
  display: inline-block;
  margin-top: 17px;
  transition: all 0.5s ease;
  position: absolute;
  margin-left: -4.375rem;

  /* 
  position: absolute;
  display: absolute;
  left: 50%; 
  margin-left: -14.375rem;
  margin-bottom: 17px;
 
  */
}
.navButtonsMin {
  display: none;
}

@media screen and (max-width: 960px) {
  .header_search {
    transition: all 0.5s ease;
    width: 230px;
    margin-left: -3.375rem;
  }
}

@media screen and (max-width: 730px) {
  .header_search {
    transition: opacity 0.5s, width 0.3s;
    width: 0px;
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  .header_wrapper {
    width: 480px;
    transition: all 0.5s ease;
  }
  .header_search {
    transition: all 0.1s ease;
    display: none;
  }
  .navButtons {
    display: none;
  }
  .navButtonsMin {
    display: block;
  }
}

.header_search input::placeholder {
  height: 1.5rem;
  padding-top: 0.313rem;
  font-size: 1rem;
  font-family: "fontAwesome", "Noto Sans CJK KR";
  line-height: 1.5rem;
  font-weight: normal;
  color: "#B5B5B5";
  font-weight: 400;
}

.header_search input {
  background: #ffffff;
  border-radius: 1.5rem;
  max-width: 27.8rem;
  /* width: 460px; */
  width: 100%;
  padding-left: 0.7rem;
  padding-top: 0.313rem;
  height: 35px;
  border: 1px solid white;
}
