@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.header_wrapper {
  width: 100%;
  height: 68px;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 100;
  display: inline-block;
  background: #257cff;
}

.header_nav {
  float: right;
}

.header_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -55px;
}

.header_nav ul > li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  float: left;
}

.header_nav ul > li > a {
  display: inline-block;
  text-align: center;
  margin: 0.25rem;
  /*padding: 0.5rem 1rem;*/
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: teal;
}

.header_icon {
  color: white;
  display: inline;
  font-size: 30px;
  margin-left: 18px;
}
.header_title {
  display: inline-block;
  color: white;
  margin-left: 15px;
  font-size: 30px;
  width: 200px;
}
.header_search {
  /* display: inline-block; */
  align-items: center;
  margin-left: 750px;
  height: 34px;
  width: 460;
  margin-bottom: 22px;
  margin-top: -75px;
}
.header_search input::placeholder {
  height: 24px;
  padding-top: 5px;
  font-size: 16px;
  font-family: "fontAwesome", "Noto Sans CJK KR";
  line-height: 24px;
  font-weight: normal;
  color: "#B5B5B5";
  font-weight: 400;
}

.header_search input {
  background: #ffffff;
  border-radius: 24px;
  width: 430px;
  padding-left: 11px;
  height: 32px;
  border: white;
}
