li {
  list-style: none;
}

/* lnb */
#lnb_close {
  width: 68px;
  height: calc(100vh - 4.25rem);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.5s;
  margin-top: 4.25rem;
  font-family: "Noto Sans CJK KR";
}
#lnb_close > .menu_wrapper > .ant-menu {
  margin-top: 25px;
}
#lnb_close
  > .menu_wrapper
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: unset;
}
#lnb_close > .menu_wrapper > .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 25px;
}
#lnb_close > .menu_wrapper > .ant-menu .menu_selected img {
  background: conic-gradient(
    from 90deg at 50% 43.1%,
    #ffffff 0deg,
    #d0e3ff 90.74deg,
    #88b8ff 180.25deg,
    #257cff 360deg
  );
}
#lnb_close > .menu_wrapper > .ant-menu-inline .ant-menu-item {
  padding-left: 19px !important;
}

/*LNB OPEN */
#lnb_open {
  width: 300px;
  height: calc(100vh - 4.25rem);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.5s;
  margin-top: 68px;
  font-family: "Noto Sans CJK KR";
}

#lnb_open > .menu_wrapper > .ant-menu {
  font-size: 18px;
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  padding-left: 26px;
  margin-top: 27px;
  color: #8c8c8c;
}
#lnb_open > .menu_wrapper > .ant-menu-light .ant-menu-item-active {
  color: #8c8c8c;
}
#lnb_open > .menu_wrapper > .ant-menu a {
  color: #8c8c8c;
}

#lnb_open > .menu_wrapper > .ant-menu .ant-menu-sub.ant-menu-inline {
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}
#lnb_open > .menu_wrapper > .ant-menu-light .ant-menu-submenu-active {
  color: unset;
}
#lnb_open > .menu_wrapper > .ant-menu-light .ant-menu-submenu-title:hover {
  color: unset;
}
#lnb_open > .menu_wrapper > .ant-menu .ant-menu-item-selected {
  color: unset;
}
#lnb_open > .menu_wrapper > .ant-menu .ant-menu-submenu-selected {
  color: unset;
}

#lnb_open > .menu_wrapper > .ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}

#lnb_open
  > .menu_wrapper
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: unset;
}
#lnb_open
  > .menu_wrapper
  > .ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title {
  padding: 0 0;
  padding-left: 0px !important;
}
#lnb_open > .menu_wrapper > .ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px;
  margin-bottom: 25px;
}

#lnb_open
  > .menu_wrapper
  > .ant-menu
  .ant-menu-submenu
  .ant-menu
  .ant-menu-item {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 16px;
  padding-left: 60px !important;
}

#lnb_open > .menu_wrapper > .ant-menu .menu_selected li span {
  color: #000000;
  font-weight: bold;
  transition: color 0.5s ease;
}

#lnb_open > .menu_wrapper > .ant-menu .menu_selected li img {
  background: conic-gradient(
    from 90deg at 52.78% 61.36%,
    #257cff 0deg,
    #ffffff 0deg,
    #e9f2ff 90.74deg,
    #88b8ff 180.25deg,
    #257cff 360deg
  );
  transition: all 0.5s;
}
/*LNB OPEN */

.menu_wrapper {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}
.button_wrapper_close {
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: all 0.5s ease;
}
.button_wrapper_open {
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: all 0.5s ease;
}

#LNB_button_close {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

#LNB_button_open {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.LNB_wrapper_open {
  width: fit-content;
  transition: margin-left 0.5s ease;
  margin-bottom: 20px;
  margin-left: 245px;
  cursor: pointer;
}
.LNB_wrapper_close {
  width: fit-content;
  transition: margin-left 0.5s ease;
  margin-bottom: 20px;
  margin-left: 19px;
  cursor: pointer;
}
