.table_buttons_create {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
  width: 80px;
  height: 40px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 40px;
  z-index: 1;
}
.table_buttons_create:active {
  direction: ltr;
  z-index: -1;
  border: 1px solid lightgray !important;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.table_buttons_create:hover {
  background-color: lightgray;
  color: black;
  border-color: white;
  z-index: -1;
}
.table_buttons {
  float: inline-start;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
  width: 80px;
  height: 40px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 40px;
}
.table_buttons:hover {
  background-color: lightgray;
  color: black;
  border-color: white;
}
.table_manage {
  float: right;
  background: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 50px;
}
table {
  width: 95%;
  margin: auto;
}
td {
  border-bottom: 1px solid #ededed;
  height: 50px;
}
thead {
  height: 32px;
  background-color: #f4f4f4;
}

@media screen and (max-width: 680px) {
  .table_manage {
  }
}
.custom-btn {
  margin-right: 10px;
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-15 {
  background: rgb(34, 34, 34);
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: lightgrey;
  border-radius: 4px;
  /* border: 1px solid white; */
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: black;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
