.react-datepicker__day-name {
  width: 28px;
}

.custom-datepicker {
}

.custom-day {
  width: 28px;
  height: 28px;
  line-height: 1.8;
  text-align: center;
}

.gray-day {
  color: #aba8b9;
}

.selected-day {
  background: #2e1c8b;
  border-radius: 50%;
  font-weight: 700;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  float: left !important;
  display: inline;
  width: 170;
}

.react-datepicker__day--selected {
  background: #2e1c8b;
  border-radius: 50%;
  font-weight: 700;

  &:hover {
    background: #2e1c8baf;
    border-radius: 50%;
    font-weight: 700;
  }
}

.react-datepicker__day--in-range {
  background: #cee2ff;
  color: black;
  border-radius: 0;
  margin: 0.5rem 0;
}

.react-datepicker__day--selecting-range-start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.react-datepicker__day--selecting-range-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: normal;
}

.react-datepicker__day--today {
  color: rgb(60, 182, 101);

  &:hover {
    color: rgb(43, 43, 105);
    background-color: rgba(173, 216, 230, 0.548);
    border-radius: 50%;
  }
}

.react-datepicker__day:hover {
  color: rgb(43, 43, 105);
  background-color: rgba(224, 220, 220, 0.876);
  border-radius: 50%;
}

.react-datepicker__dayt--in-selecting-range:hover {
  background: rgba(224, 220, 220, 0.876);
  color: black;
  border-radius: 0;
  margin: 0.5rem 0;
}
