table {
  width: 1320px;
  margin: 0;
  padding: 0;
}
td {
  border-bottom: 1px solid #e0e0e0;
  height: 46px;
  max-width: 188px;

  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #1c1c1c;
}
tr:hover {
  background-color: #eff5ff;
  transition: all 0.3s ease;
}
tr:active {
  background-color: #cee2ff;
  transition: all 0.3s ease;
}
thead > tr:hover {
  background-color: #e0e0e0;
  transition: all 0.3s ease;
}
thead > tr:active {
  background-color: #cecece;
  transition: all 0.3s ease;
}
thead > tr {
  height: 32px;
  background-color: #ededed;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  color: #464646;
}
th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
