table.table.table-hover {
  width: 1320px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
table.table.table-hover td {
  border-bottom: 1px solid #d9d9d9;
  height: 46px;
  padding: 0px 12px;
  max-width: 188px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
table.table.table-hover tr:nth-child(even) {
  background-color: #f1f4f9;
}

table.table.table-hover tr:hover {
  background-color: #adceff;
  transition: all 0.3s ease;
}
table.table.table-hover tr:active {
  background-color: #bbd4fa;
  transition: all 0.3s ease;
}
/*
table.table.table-hover thead > tr:hover {
  background-color: #e0e0e0;
  transition: all 0.3s ease;
}
table.table.table-hover thead > tr:active {
  background-color: #cecece;
  transition: all 0.3s ease;
}
*/
table.table.table-hover thead > tr {
  height: 32px;
  background-color: #f4f4f4;
  font-size: 13px;

  color: #5d5d62;
}
table.table.table-hover thead > tr > th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: #5d5d62;
  text-align: unset;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  padding: 0px 12px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
